@charset "UTF-8";

@import
  "../bootstrap-variables",                  // See _bootstrap-variables.scss
  "../../_vendor/bootstrap/scss/bootstrap",  // See _vendor/bootstrap/scss/bootstrap.scss
  "layout",
  "navigation",
  "scrollbar";

  .container {
    padding-top: 45px;
  }

  .bullet {
    color: white;
  }

  .tussentitel {
    color: #788446; 
    font-family: Raleway; 
    font-size: 1.75rem;
    margin-bottom: 5px;
  }

  .witruimte {
    margin-top: 50px;
  }

  .wit {
    margin-top: 30px;
  }

  .witna {
    margin-bottom: 20px;
  }

  .linken {
    font-size: 1.75rem;
  }

  .stappen {
    color: #788446;
    font-family: Raleway; 
    font-size: 16pt;
    margin-bottom: 0px;
  }

  .interview {
    color: #788446;
    margin-bottom: 0px;
  }

  .kleur {
    color: #c65a1e;
    font-size: 1.5em;
  }